@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 186 45% 98%;
    --foreground: 186 80% 4%;
    --muted: 186 16% 94%;
    --muted-foreground: 186 8% 39%;
    --popover: 186 45% 98%;
    --popover-foreground: 186 80% 4%;
    --card: 186 45% 98%;
    --card-foreground: 186 80% 4%;
    --border: 186 14% 89%;
    --input: 186 14% 89%;
    --primary: 186 94% 51%;
    --primary-foreground: 186 94% 11%;
    --secondary: 186 16% 84%;
    --secondary-foreground: 186 16% 24%;
    --accent: 269.43 78.36% 89.34%;
    --accent-foreground: 186 23.24% 8.11%;
    --destructive: 22 87% 31%;
    --destructive-foreground: 0 0% 100%;
    --ring: 186 94% 51%;
    --radius: 0.5rem;

    --novel-highlight-default: #ffffff;
    --novel-highlight-purple: #f6f3f8;
    --novel-highlight-red: #fdebeb;
    --novel-highlight-yellow: #fbf4a2;
    --novel-highlight-blue: #c1ecf9;
    --novel-highlight-green: #acf79f;
    --novel-highlight-orange: #faebdd;
    --novel-highlight-pink: #faf1f5;
    --novel-highlight-gray: #f1f1ef;
  }

  .dark {
    --background: 186 52% 3%;
    --foreground: 186 17% 98%;
    --muted: 186 16% 6%;
    --muted-foreground: 186 8% 61%;
    --popover: 186 52% 3%;
    --popover-foreground: 186 17% 98%;
    --card: 186 52% 3%;
    --card-foreground: 186 17% 98%;
    --border: 186 14% 15%;
    --input: 186 14% 15%;
    --primary: 186 94% 51%;
    --primary-foreground: 186 94% 11%;
    --secondary: 186 11% 13%;
    --secondary-foreground: 186 11% 73%;
    --accent: 253.58 28.09% 48.64%;
    --accent-foreground: 186 26.61% 93.71%;
    --destructive: 22 87% 53%;
    --destructive-foreground: 0 0% 0%;
    --ring: 186 94% 51%;

    --novel-highlight-default: #000000;
    --novel-highlight-purple: #3f2c4b;
    --novel-highlight-red: #5c1a1a;
    --novel-highlight-yellow: #5c4b1a;
    --novel-highlight-blue: #1a3d5c;
    --novel-highlight-green: #1a5c20;
    --novel-highlight-orange: #5c3a1a;
    --novel-highlight-pink: #5c1a3a;
    --novel-highlight-gray: #3a3a3a;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}